a
{
    position: relative;
    display: inline-block;
    padding: 0px 0px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 10px;
    overflow: hidden;
    transition: 0.2s
    margin-top: 100px;
}

#id_pre_data
{
    padding:5px;
    margin-top: 8px;

}
#id_post_data
{
    padding:5px;
    margin-top: 8px;

}
#id_site_list
{
    padding:5px;
    margin-top: 8px;

}
#id_threshold
{
    padding:5px;
    margin-top: 8px;

}

#id_date
{
    position:relative;
    padding:5px;
    margin-top: 8px;

}


label {

    display: inline-block;
    border: #4BFFCE;
    font-size: 5px;
    background-color: rgba(25,25,25,.35);
    padding: 10px 10px;

}

#id_type
{
    position: relative;
    padding:0px;
    font-size:15px;
    margin-top: 12px;
}

#id_team
{
    position: relative;
    padding:0px;
    font-size:15px;

}
